In [2]:
# 11.1
import zoo
zoo.hours()

Open 9-5 daily

In [3]:
# 11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [34]:
# 16.8
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///books.db').connect()
rows = engine.execute(sa.text('SELECT title FROM books ORDER BY title'))

for row in rows:
    print(row)

('A Book',)
('Book',)
('C Book',)